.project_main {
    width: 80%;
    max-width: 60rem;
    display: flex;
    padding: 2rem;
    background-color: var(--main);
    border-radius: 1rem;
    min-height: 20rem;
    margin: 1rem;
    align-items: center;
    position: relative;
    gap: 1rem;
}

.project_main:after {
    background: linear-gradient(
        transparent,
        mediumpurple,
        transparent
    );
    height: 70px;
    width: 1px;
    opacity: 0;
    position: absolute;
    left: -1px;
    top: 65%;
    content: "";
    transition: top 600ms ease,
    opacity 600ms ease;
}

.project_main:hover:after {
    top: 25%;
    opacity: 1;
}

.project_main_rev {
    width: 80%;
    max-width: 60rem;
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem;
    background-color: var(--main);
    border-radius: 1rem;
    min-height: 20rem;
    margin: 1rem;
    position: relative;
    align-items: center;
    gap: 1rem;
}

.project_main_rev:after {
    background: linear-gradient(
        transparent,
        mediumpurple,
        transparent
    );
    height: 70px;
    width: 1px;
    opacity: 0;
    position: absolute;
    left: -1px;
    top: 65%;
    content: "";
    transition: top 600ms ease,
    opacity 600ms ease;
}

.project_main_rev:hover:after {
    top: 25%;
    opacity: 1;
}

.urls {
    display: flex;
    gap: 1rem;
}

.technologies {
    display: flex;
    gap: 0.3rem;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.tech_box {
    background-color: #11071F;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
}

.text_info {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_info p {    
    color: #D8C0F9;
}

.demo_info {
    width: 100%;
}

.project_img {
    width: 100%;
    aspect-ratio: 1.6/1;
    overflow: hidden;
    border-radius: 1rem;
}

.project_img img {
    width: 100%;
    transition: 6s;
}

.project_img_rev {
    width: 100%;
    aspect-ratio: 1.6/1;
    overflow: hidden;
    display: flex;
    border-radius: 1rem;
    align-items: center;
}

.project_img_rev img {
    height: 100%;
    width: 100%;
    transition: 5s;
}

.project_img img:hover {
    transform: translateY(-65%);
}

.project_img_rev img:hover {
    transform: scale(180%);
}

@media screen and (max-width: 900px) {
    .project_main {
        flex-direction: column;
    }
    .project_main_rev {
        flex-direction: column;
    }
}