#about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 10rem 1rem;
    background-color: var(--main);
}

.about_main {
    width: 100%;
    max-width: 60rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.about_img img{
    border-radius: 1rem;
}

p {
    color: #D8C0F9;
}

span {
    color: var(--text);
}

@media screen and (max-width: 900px) {
    #about {
        flex-direction: column;
        text-align: center;
    }
    .about_main {
        flex-direction: column;
    }
    .about_text {
        max-width: 30rem;
    }
}