#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 4rem 0rem 4rem;
}

.contact_links {
  position: fixed;
  top: 60%;
  left: 5%;
}

.string {
  width: 1px;
  background-color: grey;
  height: 20rem;
  transform: translate(0.7rem);
}

/* RESPONSIVENESS CONFIG */

@media screen and (max-width: 760px) {
  .contact_links {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
  }
  .string {
    display: none;
  }
}

.centered_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
  max-width: 35rem;
}

.contact_heading {
  font-family: "Lobster Two", cursive;
  color: rgb(182, 136, 224);
}

.contact_p {
  font-family: "Source Code Pro", monospace;
  color: rgb(164, 164, 164);
}

.inbox {
  border: solid 1px rgb(182, 136, 224);
  border-radius: 5px;
  width: 9rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 2rem;
}

.inbox:hover {
  background-color: rgba(127, 51, 198, 0.276);
}

.contact_mee {
  font-family: "Lobster Two", cursive;
  color: rgb(182, 136, 224);
}

/* ANIMATION APPEAR */

.appear-enter {
  opacity: 0;
  transform: translate(3rem, 3rem);
}

.appear-enter-active {
    opacity: 1;
    transform: translate(0);
    transition: transform 1000ms, opacity 1400ms;
}

.appear-enter-done {
    opacity: 1;
}