.header_main {
    padding: 1rem;
    position: sticky;
    z-index: 5;
    top: 0px;
    background-color: var(--main);
}

.header_nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2.2rem;
}

.refs {
    display: flex;
    gap: 1.4rem;
}

a {
    font-size: smaller;
    text-decoration: none;
    color: aliceblue;
    transition: 0.2s;
}

a:hover {
    color: #7a37d1;
}
