.intro_box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 4rem 8rem 4rem;
}

.center_box {
  width: 70%;
}

.hi {
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
  margin: 0;
}

.name {
  font-family: "Lobster Two", cursive;
  font-size: clamp(50px, 8vw, 110px);
  margin: 0;
  color: rgb(182, 136, 224);
}

.paragraph {
  max-width: 27rem;
  font-family: "Source Code Pro", monospace;
  margin: 0;
}

/* FADE IN ANIMATION */

.fadein-enter {
  opacity: 0;
  transform: translateY(-2rem);
}

.fadein-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: transform 500ms, opacity 1000ms;
}

.fadein-enter-done {
  opacity: 1;
}

/* RESPONSIVENESS CONFIG */

@media screen and (max-width: 1070px) {
  .intro_box {
    padding: 8rem 3rem 8rem 3rem;
  }
}

@media screen and (max-width: 810px) {
  .intro_box {
    padding: 8rem 0rem 8rem 0rem;
  }
}

@media screen and (max-width: 682px) {
  .intro_box {
    padding: 8rem 0rem 8rem 0rem;
  }
  .center_box {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .intro_box {
    margin-top: 3rem;
  }
  .center_box {
    width: 100%;
  }
}
