.socials_main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10rem;
    gap: 2rem;
}

#svgs {
    position: relative;
    transition: 0.2s;
}

#svgs:hover {
    transform: translateY(-3px);
}

.blob2 {
    width: 10rem;
    position: absolute;
    z-index: -1;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, blueviolet);
    animation: shapeing 10s infinite;
    left: 10px;
    bottom: -182rem;
}

@media screen and (max-width: 900px) {
    .blob2 {
        display: none;
    }
}

@keyframes shapeing {
    from {
        rotate: 0deg;
    }
    50% {
        scale: 1 1.7;
    }
    to {
        rotate: 360deg;
    }
}